@tailwind base;
@tailwind components;
@tailwind utilities;
@import './modal.css';

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1, h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
}

.invert {
  filter: invert(1);
}

.bb:hover {
  border-bottom: white 0.5px solid;
}

body, html {
  background-color:black;
  margin: 0;
  text-align: center;
  height: 100vh;
  color: white;
}

.width_fit {
  width: fit-content;
}

.skill_list .icon:hover {
  transition: ease-in 300ms;
  transform: rotatey(360deg);
}
