@tailwind base;
@tailwind components;
@tailwind utilities;
@import './modal.css';


body, html {
  background-color: ghostwhite;
  margin: 0;
  text-align: center;
}


.skill_list .icon:hover {
  transition: ease-in 300ms;
  transform: rotatey(360deg);
}


/* a {
  color: inherit;
  text-decoration: inherit; */
  /* &:hover {
    color: inherit;
    text-decoration: inherit;
  } */
  /* }  */
  
  
  /* .skills {
    text-align: center;
  }
  
  .skill_list {
   display: flex;
   justify-content: center;
  } */
  
  /* .icon {
   margin: 0 10px; */
    /* img {
      height: 5rem;
      &
    } */
  /* } */