.m_btn_pos {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 8px;
}

.m_btn_pos img {
  height: 30px;
}

.m_body {
  text-align: center;
  height: 89%;
}

.m_body img {
  margin: auto;
}

.m_body a {
  text-decoration: none;
}

.m_btn {
  margin-right: 0.1rem 0 0 0.1rem;
}
